.navbar {
  border-radius: 0;
}

td {
  padding: 10px;
}

td, table, tr {
  border: 1px solid #444;
}

table {
  width: 100%;
  .header {
    background-color: #666;
    color: white;
  }
}

button {
  margin-top: 10px;
}

#invoice-data {
  margin-bottom: 20px;
  div {
    margin-bottom: 5px;
  }
  .pull-left {
    margin-right: 50px
  }
  .invoice-number-input {
    margin-bottom: 2px;
  }
}

.highlight {
  background: lightgray;
}

.address-form {
  margin: 20px;
  padding: 10px;
  width: 320px;
  .full-width {
    width: 290px;
  }
  .city {
    width: 140px;
  }
  .state {
    width: 50px;
  }
  .zip {
    width: 90px;
  }
  input { 
    border: none;
  }

  .form-group {
    margin-bottom: 5px;
  }
}