.navbar {
  border-radius: 0;
}

td {
  padding: 10px;
}

td, table, tr {
  border: 1px solid black;
}

table {
  width: 100%;
  .header {
    background-color: blue;
    color: white;
  }
}

.highlight {
  background: gray;
}

.address-form {
  margin: 20px;
  padding: 10px;
  width: 320px;
  .full-width {
    width: 290px;
  }
  .city {
    width: 140px;
  }
  .state {
    width: 50px;
  }
  .zip {
    width: 90px;
  }
}