<!doctype html>
<html lang="en" ng-app="invoiceApp">
<head>
  <meta charset="utf-8">
  <title>Invoice Demo</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-brand">Invoice Creator</div>


      <p class="navbar-text navbar-right"><a href="#" class="navbar-link">By Chris Hilleren</a></p>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-controller="InvoiceCtrl">
          <div ng-click="highlight()">
            <p>From Address:</p>
            <div address></div>
          </div>

          <div ng-click="highlight()">
            <p>To Address:</p>
            <div address></div>
          </div>

          <div invoice-data ng-click="highlight()"></div>

          <div ng-click="highlight()">
            <div line-item-list></div>
            <button ng-click="addLineItem()">Add</button>
          </div>

          <div ng-click="highlight()">
            <div ng-model="subtotal">Subtotal: {{subtotal | currency}}</div>
            <div ng-repeat="tax in taxes">{{tax.type}} Tax: {{tax.rate * subtotal | currency}}</div>
            <div ng-repeat="discount in discounts">Discount: {{discount | currency}}</div>
            <div>{{total() | currency}}</div>
          </div>
        </div>
      </div>  
    </div>
  </div>

</body>
</html>
