<div id="invoice-total">
  <div class="clearfix subtotal">
    <div class="pull-left">Subtotal:</div>
    <div class="pull-right" ng-model="subtotal">{{subtotal | currency}}</div>
  </div>
  <div class="clearfix" ng-repeat="tax in taxes">
    <div class="pull-left">{{tax.type}} Tax:</div>
    <div class="pull-right">{{tax.rate * subtotal | currency}}</div>
  </div>
  <div class="clearfix" ng-repeat="discount in discounts">
    <div class="pull-left">Discount:</div>
    <div class="pull-right">{{discount | currency}}</div>
  </div>
  <div class="clearfix total">
    <div class="pull-left">Total:</div>
    <div class="pull-right">{{total() | currency}}</div>
  </div>
</div>