<div id="invoice-data" class="clearfix">
  <div class="clearfix invoice-number-input">
    <div class="pull-left">Invoice Number:</div> 
    <div class="pull-right">
      <input type="text" ng-model="invoiceNumber" class="text-right">
    </div>
  </div>
  <div class="clearfix">
    <div class="pull-left">Invoice Date:</div>
    <div class="pull-right">{{invoiceDate | date}}</div>
  </div>
  <div class="clearfix">
    <div class="pull-left"><strong>Invoice Total:</strong></div> 
    <div class="pull-right"><strong>{{total() | currency}}</strong></div>
  </div>
  <br>
</div>