<table id="invoice-total">
  <tr class="subtotal">
    <td>Subtotal:</td>
    <td ng-model="subtotal" colspan="2" class="text-right">{{subtotal | currency}}</td>
  </tr>
  <tr class="tax-row" ng-repeat="tax in taxes" ng-controller="TaxCtrl" ng-mouseover="mouseOver()" ng-mouseout="mouseOut()" ng-click="edit()">
    <td>{{tax.type}} Tax:</td>
    <td class="text-right text-muted">({{tax.rate * 100 + "%"}})</td>
    <td class="text-right">{{tax.rate * subtotal | currency}}</td>
  </tr>
  <tr class="discount-row" ng-repeat="discount in discounts" ng-controller="DiscountCtrl" ng-mouseover="mouseOver()" ng-mouseout="mouseOut()" ng-click="edit()">
    <td>Discount:</td>
    <td colspan="2" class="text-right">({{discount.amount | currency}})</td>
  </tr>
  <tr class="total">
    <td>Total:</td>
    <td colspan="2" class="text-right">{{total() | currency}}</td>
  </tr>
</table>

<a href ng-click="addTax()">[+] Add Tax</a>
<br />
<a href ng-click="addDiscount()">[+] Add Discount</a>